<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/userinfo", user: current_user %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2><%= "#{@user.name}様のお気に入り投稿一覧" %></h2>
      <%= render "sheets/list", sheets: @user_favorite_sheets %>
      <%= paginate @user_favorite_sheets %>
    </div>

  </div>

</div>
