<div class="text-center">
  <table class="table table-hover table-inverse">
    <thead class="bg-info">
      <tr>
        <th>ユーザー</th>
        <th>自己紹介</th>
      </tr>
    </thead>
    <% if users.present? %>
    <tbody class="bg-white">
      <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.attach_profile_image, size: "70x70" %><br>
            <%= user.name %>
          <% end %>
        </td>
        <% if user.introduction.blank? %>
        <td>未記入</td>
        <% else %>
        <td><%= user.introduction %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
    <% else %>
    <tbody class="bg-white">
      <tr>
        <td colspan="2">
          <h4>まだ誰もいません</h4>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>
